header {
    color: whitesmoke;
    text-shadow: slateblue;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    min-height: 10vh;
    background: wheat;
    background-image: url(Imagenes/title.jpg)   
    
}

nav {
    min-height: 5vh;
    background: whitesmoke;
    font-style: normal;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    background-image: url(Imagenes/blanco.jpg);
}
ul {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    flex: 1;
}
article {
   
    background: rgb(58, 4, 58);
    flex: 3;
    color: snow ;
    width: 80%;
}
aside {
    background: darkslateblue;
    flex: 1;
    width: 20%;
}
footer {
    min-height: 10vw;
    background:wheat;
    background-image: url(Imagenes/footer.jpg);
}
h3{
    display: flex;
    align-self: center;
}
#cuerpo {
    min-height: 80vh;
    display: flex;
    flex-flow: row;
}
#titulo {
    position: absolute;
    text-align: center;
    border: black 1px solid;
    background-image: radial-gradient(wheat,purple,black);
    left: 40vw;
    width: calc(100% -20vw);
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    /* justify-content: space-around; */
}
#titulo::after{
   content: "("attr(href)")";
}
#imagen img {
    max-height: 6vh;

}
#direccion {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-right: 3vw;
}
.grid-container {
    display: grid;
    grid-template-rows: repeat(auto-fit),100px;
    grid-template-columns: 0.5fr 0.2fr 0.2fr 0.2fr;
    width: 40%;
    padding-left: 2%;
    
}
.grid-item {
    border: black 1px solid;
    text-align: right;
    background: darkorchid;
    font-weight: bold;
}
.grid-tittle{
    background: darkslategray;
    align-self: center;
    text-align: center;
}

/* Cambios a realizar para diferentes dispositivos */

@media all and (max-width: 800px){
#imagen img {
    max-height: 80%;
}

#cuerpo {
    flex-flow: column;
}
h1 {
    font-size: 0.8em;
    line-height: 0.8em;
}
aside {
    min-height: 60px;
    max-height: 60px;
}
footer{
    color: white;
    font-style: italic;
    display: flex;
    justify-content:center; 
 

}


}