img {
    width: 100vw;
    height: 100vh;
}
.carousel {
    position: relative;
}

.carousel-inner {
    /* overflow: hidden; */
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    /* transition: opacity 2s ease-out; esto es para hacer una transicion fluida */
}

.carousel-item img {
    max-width: 100%;
}

.carousel-control {
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    position: absolute;
    top: 50%;
    width: 40px;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}




